<ion-header>
  <ion-toolbar color="primary">
    <ion-item lines="none">
      <ion-label>
        Location
        <p>
          <ion-icon name="location"></ion-icon>
          <ion-text>New Delhi</ion-text>
          <ion-button fill="clear" color="light">
            <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
          </ion-button>
        </p>
      </ion-label>

      <ion-button slot="end">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
      <ion-button slot="end" class="notification">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-row>
      <ion-col size="10">
        <ion-searchbar
          #searchInput
          debounce="800"
          color="light"
          inputmode="search"
          class="srchBar"
          mode="ios"
          placeholder="Search"
        >
        </ion-searchbar>
      </ion-col>
      <ion-col size="2">
        <ion-button color="light">
          <ion-icon slot="icon-only" name="options" color="primary"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  
  
  </div>
</ion-content>